html {
    scroll-behavior: smooth;
}


body {
    background-color: #001a12; 
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* === KATEGORIE === */
.kategorie-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 30px 10px;
}

.kategoria-box {
    background-color: #022b22;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
    width: 100%;
    max-width: 1400px;
}

    .kategoria-box h2 {
        text-align: center;
        color: #d4af37;
        font-size: 24px;
        margin-bottom: 15px;
    }

.glosowano-info {
    color: #0f0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.alert-info-box {
    background-color: #28a745; 
    color: white; 
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    font-weight: bold;
}


/* === FILMY W KATEGORII === */
.filmy-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.klip-box {
    text-align: center;n
}

    .klip-box video {
        width: 100%;
        height: auto;
        max-height: 400px;
        border: 2px solid #d4af37;
        border-radius: 8px;
        object-fit: contain;
    }

.klip-nazwa {
    margin-top: 5px;
    font-weight: bold;
    color: #fff;
}
.klip-obraz {
    width: 100%;
    border: 2px solid #d4af37;
    border-radius: 8px;
}

.glosuj-button {
    background-color: #d4af37;
    color: #012d24;
    border: none;
    padding: 6px 12px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

    .glosuj-button:hover {
        background-color: #f0d560;
    }

@media (max-width: 768px) {
    .kategoria-box {
        padding: 15px;
        border-radius: 8px;
        max-width: 100%;
    }

    .filmy-row {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .klip-box video {
        max-height: 250px;
    }

    .glosuj-button {
        width: 100%;
        font-size: 16px;
    }

    .klip-nazwa {
        font-size: 16px;
    }
}
