@page
@model PrivacyModel
@{
    ViewData["Title"] = "Polityka prywatności";
}

<div class="content-panel">
    <h1>@ViewData["Title"]</h1>
    <p>Ta strona nie zbiera danych poza sesją wymaganą do działania logowania i głosowania.</p>
</div>
